*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-lightt {
    background-color: #F0F8FF!important;
}
 .navbar .navbar-nav .nav-item .nav-link {
    color: #2a2a2a;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: #f66200;
}
.navbar-expand-lg .navbar-collapse{
    margin-left: 28%;
}
.bg-cus{
    background-color: #2a2a2a;
}
.txtt{
    color: #fff;
}